/* SJSU CMPE 138 FALL 2023 TEAM9 */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set height to the viewport height */
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 400px; /* Adjust the maximum width to 100% */
  height: auto; /* Maintain aspect ratio */
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.logo {
  display: block;
  margin: auto;
  max-width: 300px;
}

h1 {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left; /* Align text inside container to the left */
  margin: 0 auto; /* Center the container horizontally */
}

h2 {
  color: #333;
}

p {
  margin: 0;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a transition for background color */
}

.button:hover {
  background-color: #0056b3; /* Change background color on hover */
}

.back-button {
  display: block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a transition for background color */
}

.back-button:hover {
  background-color: #0056b3; /* Change background color on hover */
}

a {
  text-decoration: none;
  color: #fff;
}

label {
  font-weight: bold;
}

input {
  width: calc(
    100% - 22px
  ); /* Adjusting width to account for border and padding */
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Consider border and padding in width */
}
