/* SJSU CMPE 138 FALL 2023 TEAM9 */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 0;
}

.header {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 300px auto;
}

.container {
  max-width: 800px;
  margin: 250px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  color: #333;
}

p {
  margin: 0;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a transition for background color */
}

.button:hover {
  background-color: #0056b3; /* Change background color on hover */
}

.back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a transition for background color */
}

.back-button:hover {
  background-color: #0056b3; /* Change background color on hover */
}

a {
  text-decoration: none;
  color: #fff;
}
